/* Global App Theme */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: #f4f6f8;   /* light grey */
  color: #1f2937;
}

/* make pages centered */
.page-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.mat-mdc-card {
  border-radius: 16px !important;
}
button {
  border-radius: 10px !important;
}

